<h1>Editing this Pokemon's information</h1>
<div class="edit-item">
<%= render "form", pokemonster: @pokemonster %>
<div> <br> </div>

<button>
<%= link_to "Back to pokemonsters", pokemonsters_path %>
</button>
</div>
